<nav class="navigator">
	<ul class="verticalAlign">
		<li class="inline"><%=link_to "Home", root_path %></li>
		><li class="inline"><%=link_to "Notas", notes_path %></li>
		><li class="inline">Creando nota</li>
	</ul>
</nav>

<h2 class="notes_title">Creando nota</h2>

<section class="notes notes_list">
	<%= form_for @note do |f| %>
  		<h3 class="notes_title">Título:</h3>
  		<p><%= f.text_field :title %></p>
  		<h3 class="notes_title">Contenido:</h3>
  		<p><%= f.text_area :body %></p>
  	<%= f.submit %>
	<% end %>
</section>