<nav class="navigator">
  <ul class="verticalAlign">
    <% if @community %>

      <li class="inline">
      <%=link_to 'Home', root_path, class:"navigator_text" %></li> 

      ><li class="inline">
      <%=link_to @community.name, community_path(@community), class:"navigator_text" %>
      </li>

      <%=link_to "Apuntes", community_notes_path(@community), class:"navigator_text" %>
      </li>

      ><li class="inline navigator_text">
      <%= @note.title %>
      </li>

    <% else %>

      <li class="inline">
      <%=link_to 'Home', root_path, class:"navigator_text" %></li> 

      ><li class="inline">
      <%=link_to "Apuntes", notes_path, class:"navigator_text" %>
      </li>

      ><li class="inline navigator_text">
      <%= @note.title %>
      </li> 
    <% end %>
  </ul>
</nav>

<h1 class="notes_title"><%= @note.title %></h1>

	<% if @note.community %>

		<h3 class="notes_title">Comunidad:<%= link_to @note.community.name, community_path(@note.community_id)%></h3>	

	<% else %>

		<h3 class="notes_title">Comunidad: esta nota no pertenece a ninguna comunidad.</h3>
			
	<% end %>

	

<section class="notes notes_list">
	<p class="actions">
		- <%=link_to "editar",@community? edit_community_note_path(@community, @note): edit_note_path(@note) %>
		 | 
		<%= link_to "borrar", @community? community_note_path(@community, @note): note_path(@note), method: :delete, data: {confirm: "¿Seguro que que quieres eliminiar #{@note.title}?"}%> -
		

	</p>

	<p class="note_body_print">
		<%= @note.body %>
	</p>
</section>