<nav class="navigator">
	<ul class="verticalAlign">
		<li class="inline"><%=link_to "Home", root_path %></li>
		><li class="inline"><%=link_to "Notas", notes_path %></li>
		><li class="inline"><%= @note.title %></li>
	</ul>
</nav>

<h2 class="notes_title"><%= @note.title %></h2>

<section class="notes notes_list">
	<p>- <%=link_to "editar", edit_note_path %> | <%= link_to "borrar", note_path(@note), method: :delete, confirm: "¿Seguro que que quires eliminiar #{@note.title}?"%> -</p>
	<p><%= @note.body %></p>
</section>